
<div style="margin-top: 20px">
  <div class="text-center">
    <img src="assets/images/Bekasi.png" height="150px;">
  </div>
  <div class="card" style="background-color: #505050; color: whitesmoke; width: 90vw; margin: 0px auto">
    <div class="card-body">
      <h3 class="card-title text-center"><strong>TITIK KOORDINAT MENARA<br>TELEKOMUNIKASI</strong></h3>

      <div class="card" style="margin: 15px; padding: 10px; background-color: whitesmoke">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div id="map" style="width: 100%;height: 300px;"></div>
              <pre id="coordinates" class="coordinates"></pre>
            </div>
            <div class="col-md-6">
            <form ng-submit="$event.preventDefault()" name="searchForm">
              <div style="margin-top: 50px">
                <div class="row">
                  <div class="col-md-12">
                    <md-autocomplete required
                                     md-input-name="autocompleteField"
                                     md-input-minlength="2"
                                     md-input-maxlength="18"
                                     md-no-cache="main.noCache"
                                     md-selected-item="main.selectedItem"
                                     md-search-text="main.searchText"
                                     md-items="item in main.querySearch(main.searchText)"
                                     md-item-text="item.namaKecamatan"
                                     md-require-match
                                     md-floating-label="Pilih Kecamatan">
                      <md-item-template>
                        <span md-highlight-text="main.searchText">{{item.namaKecamatan}}</span>
                      </md-item-template>
                      <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
                        <div ng-message="required">Anda <b>harus</b> memilih kecamatan terlebih dahulu.</div>
                        <div ng-message="md-require-match">Pilih Kecamatan yang tersedia.</div>
                        <div ng-message="minlength">Terlalu panjang.</div>
                        <div ng-message="maxlength">Terlalu pendek.</div>
                      </div>
                    </md-autocomplete>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6">
                    <md-input-container style="width: 100%">
                      <label>Longitude</label>
                      <input type="number" ng-model="main.longitude" ng-change="main.change()" required name="inputLong"/>
                      <div ng-messages="searchForm.inputLong.$error" ng-if="searchForm.inputLong.$touched">
                        <div ng-message="required">Longitude harus diisi.</div>
                        <div ng-message="number">Longitude harus berupa angka.</div>
                      </div>
                    </md-input-container>
                  </div>
                  <div class="col-md-6">
                    <md-input-container style="width: 100%">
                      <label>Latitude</label>
                      <input type="number" ng-model="main.latitude" ng-change="main.change()" required name="inputLat"/>
                      <div ng-messages="searchForm.inputLat.$error" ng-if="searchForm.inputLat.$touched">
                        <div ng-message="required">Latitude harus diisi.</div>
                        <div ng-message="number">Latitude harus berupa angka.</div>
                      </div>
                    </md-input-container>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <md-button class="md-raised md-warn" ng-click="main.reset()" style="width: 100%">Reset</md-button>
                  </div>
                  <div class="col-md-6">
                    <md-button class="md-raised md-primary" ng-click="main.isInRangeRadius()" style="width: 100%">Cek Koordinat</md-button>
                  </div>
                </div>
              </div>
              </form>
            </div>
          </div>
          <div class="row" style="color: black">
            <div class="col-md-12">
              <p>Ingin mengajukan? Silahkan ajukan <a href="#/login">Disini.</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center" ng-if="main.inRange != undefined" style="margin-top: 12px;color: white;">
        <h5 class="md-flex">Status Koordinat</h5>
      </div>

      <div class="text-center">
        <md-toolbar md-colors="{background: '{{main.inRange ? 'light-green' : 'red'}}'}" ng-if="main.inRange != undefined">
          <div class="md-toolbar-tools" layout-align="center center">
            <h2 class="md-flex" style="font-weight: bold;color: white;">{{main.inRange ? 'IN CELL' : 'OUT CELL'}}</h2>
          </div>
        </md-toolbar>
      </div>

      <div class="text-center" ng-if="main.inRange != undefined && main.inRange">
        <a href="#" class="md-flex" style="padding-top: 5px;color: lightblue" ng-click="main.getDocument()">(Klik Disini Untuk Download Dokumen Permohonan)</a>
      </div>
      
    </div>
  </div>
</div>
